@inherits DittoView
@{
    Layout = "umbLayout.cshtml";
}
@Html.Partial("umbHomepageBanner")
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @Html.Partial("umbFeatures")
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @Html.Partial("umbNewsOverviewWidget")
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
