@inherits DittoView<DittoDemo.ViewModels.TopNavigationViewModel>
<!-- Nav -->
<nav id="nav" class="skel-panels-fixed">
    <ul>
        @foreach (var item in Model.View.MenuItems)
        {
            <li class="@(item.IsActive ? "current_page_item" : null)"><a href="@item.Url" target="@item.UrlTarget">@item.Title</a></li>
        }
    </ul>
</nav>
<!-- /Nav -->