@inherits UmbracoViewPage<ILatestNews>

<h2 class="major"><span>Recent Posts</span></h2>

<!-- Archives -->
<ul class="style2">
    @foreach (var newsItem in Model.LatestNewsItems)
    {
        <li>
            <article class="is-post-summary">
                <h3><a href="@newsItem.Url">@newsItem.DisplayTitle</a></h3>
                <ul class="meta">
                    <li class="timestamp">@newsItem.DisplayDate.ToString("f")</li>
                </ul>
            </article>
        </li>
    }
</ul>
<a href="@Model.Archive.Url" class="button button-alt">Browse Archives</a>
<!-- /Archives -->
