@inherits UmbracoViewPage<PageModel>
@if (Model.TotalPages > 1)
{
    <p>
        @for (var p = 1; p <= Model.TotalPages; p++)
        {
            if (p == Model.CurrentPage)
            {
                <span>@p</span>
            }
            else
            {
                <a href="?p=@p">@p</a>
            }

            if (p < Model.TotalPages)
            {
                <text> | </text>
            }
        }
    </p>
}