@inherits UmbracoViewPage<INavigation>
<!-- Nav -->
<nav id="nav" class="skel-panels-fixed">
    <ul>
        @foreach (var item in Model.MenuItems)
        {
            <li class="@(item.IsActive ? "current_page_item" : null)" target="@item.Target"><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</nav>
<!-- /Nav -->